### Libraries

In [1]:
# astronomy
import ephem
import datetime
import time
# citable class
from citableclass import Citable
# basic
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Star catalogue

In [2]:
#cite=Citable("BAAP00028", formats="et")

In [3]:
#LOAD STAR CATALOGUE
cite=Citable("BAAP00028", formats="et")
pyephembsc = []
reader=cite.csv()
for row in reader:
    pyephembsc.append(row)
starcatalogue=pd.DataFrame(pyephembsc, columns=['star', "","","",'magnitude',"",""])

In [4]:
starcatalogue.head(10)

       star                                             magnitude
0    Sirrah  f|S|B9  0:08:23.2|135.68  29:05:27|-162.95      2.07  2000  0
1      Caph  f|S|F2  0:09:10.1|523.39  59:09:01|-180.42      2.28  2000  0
2   Algenib  f|S|B2     0:13:14.2|4.7    15:11:01|-8.24      2.83  2000  0
3   Schedar  f|S|K0   0:40:30.4|50.36   56:32:15|-32.17      2.24  2000  0
4    Mirach  f|S|M0  1:09:43.8|175.59  35:37:15|-112.23      2.07  2000  0
5  Achernar  f|S|B3   1:37:42.8|88.02  -57:14:12|-40.08      0.45  2000  0
6    Almach  f|S|B8   2:03:53.9|43.08   42:19:48|-50.85      2.10  2000  0
7     Hamal  f|S|K2  2:07:10.3|190.73  23:27:46|-145.77      2.01  2000  0
8   Polaris  f|S|F7   2:31:47.1|44.22   89:15:51|-11.74      1.97  2000  0
9    Menkar  f|S|M2  3:02:16.8|-11.81    4:05:24|-78.76      2.54  2000  0

In [5]:
# LOAD NEOLETHIC CIRCLE ENCLOSURE
cite=Citable("KGAL0003", formats="et")
quedlinburgI=cite.json()

### Position calculation

In [6]:
# DEFINE DECLINATION FUNCTION
def Declination(year=2000, azimuth=20, altitude=10,latitude='12', longitude='40'):
    az = np.radians(azimuth)
    el = np.radians(altitude)
    observer = ephem.Observer()
    print(longitude)
    observer.lon = longitude
    observer.lat = latitude
    observer.elevation = 0
    observer.date = str(year)+"/1/1  00:00:00"
    ra,dec = observer.radec_of(az, el)
    
    return {"right ascension":np.degrees(ra), "declination":np.degrees(dec)}

In [7]:
Declination()

40

{'right ascension': 234.06283618133986, 'declination': 70.26059184610332}

In [8]:
# DEFINE POSITION FUNCTION
def Position(year=2000, hour=1, longitude='40', latitude='12', star="Sirius"):
    
    star=ephem.star(star)
    #setting
    setting = ephem.Observer()
    setting.lon = ephem.degrees(longitude)
    setting.lat = ephem.degrees(latitude)
    setting.date = str(year)+"/12/1  00:00:00"
    setting.date = setting.previous_setting(star)
    star.compute(setting)
    # rising
    rising = ephem.Observer()
    rising.lon = ephem.degrees(longitude)
    rising.lat = ephem.degrees(latitude)
    rising.date = str(year)+"/1/1  00:00:00"
    rising.date = rising.previous_rising(star)
    star.compute(setting)
    sets=np.degrees(float(star.az))
    star.compute(rising)
    rise=np.degrees(float(star.az))
    return {"star": starname, "year": year, "azimuth rising":rise, "azimuth setting": sets }

### Star on horizon

In [12]:
#long=quedlinburgI["coordinates"]["longitude"]
#lat=quedlinburgI["coordinates"]["latitude"]
#Position(year=2000, hour=1, longitude="12", latitude="20", star="Sirius")

In [23]:
import ephem
star=ephem.star('Sirius','2003/08/27', epoch=ephem.J2000 )
#m = ephem.Mars('2003/08/27', epoch=ephem.J2000)
float(star.a_dec*180/3.14)

-16.72277381048232